html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; /*"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑"*/
}

.text-main-title {
    font-size: x-large;
}
.text-title {
    font-size: large;
}

.text-small-title {
    font-size: medium;
}

.text-body {
    font-size: small;
}

.text-small-body {
    font-size: x-small;
}

.text-supplement {
    font-size: xx-small;
}

a {
    color:#3a8ee6;
    text-decoration: none;
}

a:hover {
    color: #f78989;
}